@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/background.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 250px;
}

@font-face { 
    font-family: "regular"; 
    src: url("/fonts/neverRegular.woff2"); 
}

.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  canvas {
    display: block; /* Prevents canvas from having extra space below it */
  }
  