@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/background.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 250px;
    overflow: hidden;
}

@font-face { 
    font-family: "regular"; 
    src: url("/fonts/neverRegular.woff2"); 
}

